@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Permanent+Marker&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary: #3de2ee;
    --secondary: #f5f0f6;
    --background: #f7f7f7;
    --dark: #293132;
}

body, html {
    overflow: auto;
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Prompt';
    font-size: 18px;
    height: 100%;
}

.about {
    display: flex;
    width: 650px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 8px;
    margin-inline: auto;
    margin-top: 40px;
    padding: 15px;
    font-weight: 400;
}

.btns {
    margin-top: 25px;
    max-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: var(--primary);
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: 400;
    transition: all 0.3s ease;
    border: none;
    max-width: 120px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    margin-inline: 5px;
}

.btn:hover {
    background-color: #44c5ce;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 30px;
}

.about-img {
    border-radius: 50%;
    height: 135px;
}

.about-txt {
    margin-left: 25px;
}

.about-txt > p {
    font-family: 'Montserrat';
}

.logo-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-gap: 30px;
    justify-content: space-evenly;
    grid-auto-rows: 375px;
}

.grid-item {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 350px;
    height: 350px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.item-img {
    height: 80%;
    border-radius: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-title {
    font-style: italic;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
}

.contact-alert {
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.233);
    backdrop-filter: blur(3px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exit {
    position: absolute;
    font-size: 25px;
    top: 0;
    right: 0;
    background-color: #fff0;
    border: none;
    color: #e74545;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.inner-contact {
    background-color: white;
    max-width: 600px;
    border-radius: 8px;
    color: #313131;
    padding: 20px;
    right: 200px;
    position: relative;
    opacity: 0;
    text-decoration: none;
}

@media only screen and (max-width: 1525px) and (min-width: 200px) {
    .grid-item {
        width: 300px !important;
        height: 300px !important;
    }
}

@media only screen and (max-width: 1332px) and (min-width: 200px) {
    .grid-item {
        width: 250px !important;
        height: 250px !important;
    }
}

@media only screen and (max-width: 1146px) and (min-width: 200px) {
    .logo-grid {
        grid-template-columns: auto auto auto !important;
    }
}

@media only screen and (max-width: 848px) and (min-width: 200px) {
    .grid-item {
        width: 200px !important;
        height: 200px !important;
    }

    .logo-grid {
        grid-auto-rows: 250px !important;
    }

    .about {
        width: 80% !important;
        flex-direction: column;
    }

    .about-txt > h2, .about-txt > p{
        text-align: center;
    }

    .btns {
        margin-inline: auto;
        max-width: 320px !important;
    }
}

@media only screen and (max-width: 703px) and (min-width: 200px) {
    .grid-item {
        width: 175px !important;
        height: 175px !important;
    }

    .logo-title {
        font-size: 20px !important;
    }


}

@media only screen and (max-width: 603px) and (min-width: 200px) {
    .logo-grid {
        grid-template-columns: auto auto !important;
        grid-auto-rows: 200px !important;
    }

    .grid-item {
        width: 200px !important;
        height: 200px  !important;
    }

    .logo-title {
        font-size: 22px !important;
    }
}

@media only screen and (max-width: 468px) and (min-width: 200px) {
    .grid-item {
        width: 165px !important;
        height: 165px !important;
    }

    .btn {
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 375px) and (min-width: 200px) {
    .grid-item {
        width: 140px !important;
        height: 140px !important;
    }
}

@media only screen and (max-width: 319px) and (min-width: 200px) {
    .logo-grid {
        grid-template-columns: auto !important;
    }

    .grid-item {
        width: 200px !important;
        height: 200px !important;
    }
}